.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .nav-link {
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
  }
  .nav-link:hover {
    color: rgba(255, 255, 255, 0.8);
  }
  .navbar-collapse {
    justify-content: flex-end;
  }
  .navbar-nav {
    gap: 20px;
  }